# Brownie
__pycache__
.history
.hypothesis/
build/
reports/
build/
venv/
.env

# Node/npm
node_modules/

flat.sol
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed

.pytest_cache/
